body {
    font-family: sans-serif;
  }
      button {
    background-color: #333; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
      .container{
        display: grid;
      grid-gap: 5px;
      justify-items: center;
      align-items: center;
      text-align: center;
        
      }
      .mainText{
        font-size:30px;
      }
      .m5{
        margin:5px;
      }
      .details{
        text-align:left;
      }
      .title{
        font-size:15px;
        font-weight:600;
      }
      #pullRequestTitle{
          font-weight: 600;
          font-size: 16px;
      }
      #form{
          width: 97%;
      }
      input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
          }
          .btn {
              background-color: #5F4B8BFF;
              border: none;
              color: white;
              width: 100%;
              padding: 10px;
              text-align: center;
              text-decoration: none;
              border-radius: 5px;
              display: inline-block;
              font-size: 15px;
              margin: 4px 2px;
              cursor: pointer;
          }
          .logoutBtn{
              width: 97%;
          }
          a{
              text-decoration: none;
              color:black;
              cursor: pointer;
          }
          .innerDetails{
              padding: 1px 0px 1px 10px;
              border-radius: 5px;
          }
          .innerDetails:hover,.innerDetails:hover *{
              background-color: #5F4B8BFF;
              cursor: pointer;
              color:white
          }
          #welcomeText{
              font-size: 13px;
          }
          .zoom {
          padding: 10px;
          transition: transform .2s; /* Animation */
          height:110px;
          width:110px;
          margin: 0 auto;
          }
  
          .zoom:hover {
           transform: scale(1.1);
          }